@media screen and (min-width: 280px) and (max-width: 768px) {
    .packages > ul > li {
      padding: 0 0.5rem;
      font-size: 2vh;
      padding-bottom: 1rem;
    }
    .packages > ul > li > .active {
      border-bottom-width: 0.3rem;
    }
  
    .destinations {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }
  .destinations {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding: 0 3rem;
  }
  